/* PERSONAL CHANGES FOR SWC */

/* FONTS */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', Georgia, Times, serif;
    color: #C16828;
}
p, div {
    font-family: 'Old Standard TT', Georgia, Times, serif;
    color: #353129;
    font-size: 18px;
    line-height: 30px;
}

input#mc-embedded-subscribe.button {
	float: right;
	margin-right: 25px;
}

.row {
  color: #353129; 
}

footer div {
  color: #353129;
}

#signup {
}

body {
  background-image: url("../img/old_wall.png");
  background-repeat: repeat;
  background-color: #5C5049;
}

hr {
  border-top-color: #353129;
}

#logo {
	margin-bottom: 50px;
	margin-top: 50px;
}